<html>
<head>
    {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="height=device-height,width=device-width,initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>{{ wp_get_the_title() }}</title>
    {% endblock %}

    {% block stylesheets %}
        {{ wp_head() | raw }}
    {% endblock %}

    {% include "recipes/google-analytics.html.twig" %}
</head>
<body {{ wp_body_class() | raw }}>
{% block body %}
    {% block header %}
        {% include "layout/header.html.twig" %}
    {% endblock %}

    {% if hero_title is not defined or hero_title == true %}
        <section class="hero-title">
            <div class="row column">
                {% if title is defined %}
                    <h1>{{ title | raw }}</h1>
                {% else %}
                    <h1>{{ wp_get_the_title() | raw }}</h1>
                {% endif %}
            </div>
        </section>
    {% endif %}

    {% block content %}
        {% if flexible_content is defined %}
            {% for content in flexible_content %}{{ content | raw }}{% endfor %}
        {% else %}
            <section class="content">
                <div class="row column">
                    {{ wp_get_the_content() | raw }}
                </div>
            </section>
        {% endif %}
    {% endblock %}

    {% block cta %}
        {% if get_field('price_image', 'option') or get_field('schedule_image', 'option') or get_field('call_image', 'option') %}
            <section class="cta">
                <div class="row" data-equalizer data-equalize-on="medium">
                    <div class="medium-4 columns price" data-equalizer-watch>
                        <a href="">
                            <img src="{{ get_field('price_image', 'option').url }}" alt="" />
                        </a>
                    </div>
                    <div class="medium-4 columns schedule" data-equalizer-watch>
                        <a href="">
                            <img src="{{ get_field('schedule_image', 'option').url }}" alt="" />
                        </a>
                    </div>
                    <div class="medium-4 columns call" data-equalizer-watch>
                        <a href="">
                            <img src="{{ get_field('call_image', 'option').url }}" alt="" />
                        </a>
                    </div>
                </div>
            </section>
        {% endif %}
    {% endblock %}

    {% block footer %}
        {% include "layout/footer.html.twig" %}
    {% endblock %}
{% endblock %}

{% block scripts %}
    {{ wp_footer() | raw }}
{% endblock %}
</body>
</html>