{% if wp_max_pages() > 1 %}
    <ul class="pagination text-center" role="navigation" aria-label="Pagination">
        {% if wp_get_query_var('paged', 1) == 1 or wp_get_query_var('paged', 1) == 0 %}
            <li class="disabled"><i class="fa fa-angle-double-left"></i></li>
        {% else %}
            <li><a href="{{ wp_get_pagenum_link(1) | raw }}"><i class="fa fa-angle-double-left"></i></a></li>
        {% endif %}
        {% for i in 1..wp_max_pages() %}
            {% if i == wp_get_query_var('paged', 1) or (wp_get_query_var('paged', 1) == 0 and i == 1)%}
                <li class="current"><span class="show-for-sr">You're on page</span> {{ i }}</li>
            {% else %}
                <li><a href="{{ wp_get_pagenum_link(i) |raw }}" aria-label="Page 2">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if wp_get_query_var('paged') == wp_max_pages() %}
            <li class="disabled"><i class="fa fa-angle-double-right"></i></li>
        {% else %}
            <li><a href="{{ wp_get_pagenum_link(wp_max_pages()) | raw }}"><i class="fa fa-angle-double-right"></i></a></li>
        {% endif %}
    </ul>
{% endif %}