<div class="header-container" data-sticky-container>
    <header class="header" data-sticky data-options="marginTop:0;" style="width:100%" data-sticky-on="small">
        <div class="title-bar" data-responsive-toggle="mobile-menu" data-hide-for="medium">
            <div class="left">
                <a href="tel:{{ get_field('north_number', 'option') }}">
                    <img src="{{ wp_get_template_directory_uri() }}/web/images-min/phone.min.png" alt="">
                </a>
            </div>
            <div class="right">
                <a type="button" data-toggle>
                    <img src="{{ wp_get_template_directory_uri() }}/web/images-min/menu.min.png" alt="">
                </a>
            </div>
            <div class="center">
                <a href="{{ wp_home_url('/') }}">
                    <img src="{{ wp_get_template_directory_uri() }}/web/images-min/mobile-logo.min.png" alt="">
                </a>
            </div>
        </div>
        <div id="mobile-menu" class="hide-for-medium">
            <ul class="vertical menu">
                <li><a href="#estimate" class="primary button">FREE IN-HOUSE ESTIMATE</a></li>
                <li><a href="#quote" class="brown button">INSTANT QUOTE</a></li>
            </ul>
            {{ wp_nav_menu_accordion({
                'theme_location': 'main',
                'menu_class': 'vertical menu',
                'container_id': 'primary-mobile-navigation'
            }) | raw }}
        </div>

        <div class="hide-for-small-only">
            <div class="tan-background top">
                <div class="row">
                    <div class="small-12 columns">
                        <ul class="simple horizontal menu">
                            {% if get_field('north_number', 'option') %}
                                <li class="number">
                                    NORTH:
                                    <a href="tel:{{ get_field('north_number', 'option') }}">
                                        ({{ get_field('north_number', 'option')[:3] }})
                                        {{ get_field('north_number', 'option')[3:3] }}
                                        -
                                        {{ get_field('north_number', 'option')[6:4] }}
                                    </a>
                                </li>
                            {% endif %}
                            {% if get_field('south_number', 'option') %}
                                <li class="number">
                                    SOUTH:
                                    <a href="tel:{{ get_field('south_number', 'option') }}">
                                        ({{ get_field('south_number', 'option')[:3] }})
                                        {{ get_field('south_number', 'option')[3:3] }}
                                        -
                                        {{ get_field('south_number', 'option')[6:4] }}
                                    </a>
                                </li>
                            {% endif %}
                            <li class="action">
                                <a href="#quote" class="brown button">INSTANT QUOTE</a>
                                <a href="#estimate" class="primary button">FREE IN-HOUSE ESTIMATE</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row column bottom">
                <div class="float-left">
                    <a href="{{ wp_home_url('/') }}">
                        <img src="{{ get_field('header_logo', 'option').url }}" class="logo">
                    </a>
                </div>
                <div class="float-right">
                    {{ wp_nav_menu_dropdown({
                        'theme_location': 'main',
                        'menu_class': 'horizontal',
                        'container_id': 'primary-navigation'
                    }) | raw }}
                </div>
            </div>
        </div>
    </header>
</div>